<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIx6zG-dqAKN5kayS7ZVyBRsEhP3mRz_k</string>
	<key>GCM_SENDER_ID</key>
	<string>172016611905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminpanelHardwarepro</string>
	<key>PROJECT_ID</key>
	<string>productcarepro-bc086</string>
	<key>STORAGE_BUCKET</key>
	<string>productcarepro-bc086.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172016611905:ios:25f495680ad144dafc0cc0</string>
</dict>
</plist>